@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #00ffff;
  color: white;
}

::selection {
  background: #00ffff;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #1100ff;
}

body,
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: transparent;
  color: black;
}

button {
  outline: none !important;
}

section {
  border-bottom: 2px solid #ddd;
}

section:last-child {
  border-bottom: none !important;
}

button {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
button,
a,
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Container {
  width: 950px;
  margin: auto;
}

.active {
  color: #00ffff !important;
}

nav {
  padding: 5px 0px;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#00ffff), to(#01396ed3));
  background: linear-gradient(to left, #00ffff, #01396ed3);
}

nav #NavContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #NavContentWrapper #NavLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px !important;
}

nav #NavContentWrapper #NavLink li {
  margin: 0px 18px;
  list-style: none;
}

nav #NavContentWrapper #NavLink li:first-child {
  display: none;
}

nav #NavContentWrapper #NavLink li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #NavContentWrapper #NavLink li a:hover {
  text-shadow: 0px 0px 10px white;
}

nav #NavContentWrapper #NavTitle {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#00ffaa), to(#00ccff));
  background: linear-gradient(to left, #00ffaa, #00ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

nav #NavContentWrapper #Burger {
  display: none;
}

.toogle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toogle .line2 {
  opacity: 0;
}

.toogle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

header {
  padding: 50px 0px 30px 0px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#000000e1), to(#0000000c)), url(./Components/img/background.jpeg);
  background: linear-gradient(to right, #000000e1, #0000000c), url(./Components/img/background.jpeg);
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

header #HeaderContentWrapper #HeaderDesc {
  margin: 5px 0px;
}

header #HeaderContentWrapper #HeaderDesc h1 {
  font-size: 3rem;
  margin-bottom: 5px;
  font-family: "Merriweather", serif;
  background: url(./Components/img/H1.jpeg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header #HeaderContentWrapper #HeaderDesc p {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #00ffff;
  font-family: "Titillium Web", sans-serif;
}

header #HeaderContentWrapper #HeaderDesc h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
  font-family: "Texturina", serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

header #HeaderContentWrapper #HeaderDesc a {
  padding: 5px 30px;
  background: transparent;
  border: 2px solid cyan;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 4px 0px;
  font-family: "Titillium Web", sans-serif;
  color: cyan;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
}

header #HeaderContentWrapper #HeaderDesc a:hover {
  background: cyan;
  color: white !important;
}

#About {
  padding: 80px 0px;
}

#About #AboutCOntentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#About #AboutCOntentWrapper #AboutDesc {
  width: 570px;
  margin: 10px 0px;
}

#About #AboutCOntentWrapper #AboutDesc h2 {
  font-family: "Raleway", sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#00fff2), to(#1900ff));
  background: linear-gradient(to left, #00fff2, #1900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

#About #AboutCOntentWrapper #AboutDesc P {
  font-family: "Yusei Magic", sans-serif;
  padding: 5px 0px;
  text-align: justify;
  margin-right: 20px;
}

#About #AboutCOntentWrapper #AboutDesc a {
  font-family: "Didact Gothic", sans-serif;
  padding: 5px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  color: #00ffff;
  border: 2px solid #00ffff;
  margin: 10px 0px;
}

#About #AboutCOntentWrapper #AboutDesc a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ffff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#About #AboutCOntentWrapper #AboutDesc a:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#About #AboutCOntentWrapper #AboutDesc a:hover {
  color: black;
}

#About #AboutCOntentWrapper #AboutImage {
  width: 380px;
}

#About #AboutCOntentWrapper #AboutImage img {
  width: 100%;
  -webkit-animation: ShortAbout 3s ease infinite alternate;
          animation: ShortAbout 3s ease infinite alternate;
}

@-webkit-keyframes ShortAbout {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes ShortAbout {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

#AboutPage {
  padding: 80px 0px 30px 0px;
}

#AboutPage #AboutPageImage {
  width: 50%;
  margin: auto;
}

#AboutPage #AboutPageImage img {
  width: 100%;
}

#AboutPage #AboutPageDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#AboutPage #AboutPageDesc #Desc {
  width: 760px;
}

#AboutPage #AboutPageDesc #Desc p {
  font-family: "Yusei Magic", sans-serif;
  padding: 5px 0px;
  text-align: justify;
}

#AboutPage #AboutPageDesc #Desc h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  background: -webkit-gradient(linear, left top, right top, from(#ff0080), to(#00eeff));
  background: linear-gradient(to right, #ff0080, #00eeff);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#AboutPage #AboutPageDesc #AboutTable {
  width: 142.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#AboutPage #AboutPageDesc #AboutTable table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#AboutPage #AboutPageDesc #AboutTable table tr th {
  padding: 30px 0px;
  border: 1px solid cyan;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#AboutPage #AboutPageDesc #AboutTable table tr th:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#AboutPage #AboutPageDesc #AboutTable table tr th:hover {
  background: #d2ffff;
}

#AboutPage #AboutPageDesc #AboutTable table tr th img {
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Footer {
  position: relative;
  padding: 80px 0px;
  background: -webkit-gradient(linear, right top, left top, from(#0d1117da), to(#0d1117)), url(./Components/img/FooterBg.jpg);
  background: linear-gradient(to left, #0d1117da, #0d1117), url(./Components/img/FooterBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Footer #FooterContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#Footer #FooterContentWrapper #FooterSingleCotent {
  margin: 20px 10px;
}

#Footer #FooterContentWrapper #FooterSingleCotent h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#00ffea), to(#006eff));
  background: linear-gradient(to left, #00ffea, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lora", serif;
}

#Footer #FooterContentWrapper #FooterSingleCotent ol li,
#Footer #FooterContentWrapper #FooterSingleCotent ul li {
  list-style: none;
  padding: 5px 0px;
}

#Footer #FooterContentWrapper #FooterSingleCotent ol li:hover a,
#Footer #FooterContentWrapper #FooterSingleCotent ul li:hover a {
  color: cyan;
}

#Footer #FooterContentWrapper #FooterSingleCotent ol li:hover i,
#Footer #FooterContentWrapper #FooterSingleCotent ul li:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: white;
}

#Footer #FooterContentWrapper #FooterSingleCotent ol li i,
#Footer #FooterContentWrapper #FooterSingleCotent ul li i {
  padding: 0px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: cyan;
}

#Footer #FooterContentWrapper #FooterSingleCotent ol li a,
#Footer #FooterContentWrapper #FooterSingleCotent ul li a {
  text-decoration: none;
  color: #7caeca;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  font-family: "Mukta", sans-serif;
  font-size: 1.1rem;
}

#Footer #ShareButtons {
  text-align: center;
  margin: 20px 0px;
}

#Footer #ShareButtons .a2a_kit a {
  margin: 5px 5px;
}

footer {
  text-align: center;
  padding: 10px 0px;
  background: #242424;
  color: whitesmoke;
  letter-spacing: 2px;
  font-family: "Yusei Magic", sans-serif;
}

#SectionTitle {
  text-align: center;
  margin: 30px auto 50px auto;
}

#SectionTitle h1 {
  font-size: 2.5rem;
  background-color: #00e1ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
}

#SectionTitle h2 {
  font-size: 2.5rem;
  background: url(./Components/img/Title.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
}

#SectionTitle p {
  width: 60%;
  margin: 5px auto 10px auto;
  font-weight: 900;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
}

#SectionTitle #line {
  width: 100px;
  margin: 20px auto;
  height: 5px;
  background: url(./Components/img/Title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  border-radius: 5px;
}

#ShortService {
  padding: 50px 0px;
}

#ShortService #ShortServiceContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#ShortService #ShortServiceContentWrapper #SingleShortService {
  padding: 30px 20px;
  text-align: center;
  width: 290px;
  border: 0.1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 30px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: 0.2s;
}

#ShortService #ShortServiceContentWrapper #SingleShortService:nth-child(3) #ServiceImage {
  width: 40% !important;
}

#ShortService #ShortServiceContentWrapper #SingleShortService:hover {
  -webkit-box-shadow: 1px 2px 20px black;
          box-shadow: 1px 2px 20px black;
  border: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#ShortService #ShortServiceContentWrapper #SingleShortService:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#ShortService #ShortServiceContentWrapper #SingleShortService #ServiceShortDesc h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 5px 0px 10px 0px;
  font-family: "Raleway", sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#00d9ff), to(#ff0095));
  background: linear-gradient(to left, #00d9ff, #ff0095);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ShortService #ShortServiceContentWrapper #SingleShortService #ServiceShortDesc P {
  text-transform: capitalize;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 0px 5px;
  line-height: 23px;
}

#ShortService #ShortServiceContentWrapper #SingleShortService #ServiceImage {
  width: 60%;
  margin: auto auto 10px auto;
}

#ShortService #ShortServiceContentWrapper #SingleShortService #ServiceImage img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#LinkToMainPage {
  margin: 20px 0px;
  text-align: center;
}

#LinkToMainPage a {
  font-family: "Didact Gothic", sans-serif;
  padding: 5px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  color: #ff0080;
  border: 2px solid #ff0080;
  margin: 10px 0px;
}

#LinkToMainPage a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff0080;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#LinkToMainPage a:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#LinkToMainPage a:hover {
  color: white;
}

#Service {
  padding: 50px 0px;
}

#Service #ServiceContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Service #ServiceContentWrapper #SingleService {
  padding: 30px 20px;
  text-align: center;
  width: 290px;
  border: 0.1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 30px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: 0.2s;
}

#Service #ServiceContentWrapper #SingleService:nth-child(3) #ServiceImage {
  width: 40% !important;
}

#Service #ServiceContentWrapper #SingleService:nth-child(4) #ServiceImage {
  width: 40% !important;
}

#Service #ServiceContentWrapper #SingleService:nth-child(6) #ServiceImage {
  width: 40% !important;
}

#Service #ServiceContentWrapper #SingleService:hover {
  -webkit-box-shadow: 1px 2px 20px black;
          box-shadow: 1px 2px 20px black;
  border: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#Service #ServiceContentWrapper #SingleService:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Service #ServiceContentWrapper #SingleService #ServiceDesc h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 5px 0px 10px 0px;
  font-family: "Raleway", sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#00d9ff), to(#ff0095));
  background: linear-gradient(to left, #00d9ff, #ff0095);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Service #ServiceContentWrapper #SingleService #ServiceDesc P {
  text-transform: capitalize;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 0px 5px;
  line-height: 23px;
}

#Service #ServiceContentWrapper #SingleService #ServiceImage {
  width: 60%;
  margin: auto auto 10px auto;
}

#Service #ServiceContentWrapper #SingleService #ServiceImage img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#ShortProjects {
  padding: 50px 0px;
}

#ShortProjects #ProjectContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject {
  position: relative;
  width: 48%;
  overflow: hidden;
  margin: 10px auto;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject:hover #SingleShortProjectDesc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#ShortProjects #ProjectContentWrapper #SingleShortProject:hover #SingleShortProjectDesc a {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#ShortProjects #ProjectContentWrapper #SingleShortProject #SingleShortProjectDesc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #000000e5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#ShortProjects #ProjectContentWrapper #SingleShortProject #SingleShortProjectDesc h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: cyan;
  text-shadow: 1px 2px 20px cyan;
  text-transform: capitalize;
  -webkit-transition: 1s;
  transition: 1s;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject #SingleShortProjectDesc p {
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: capitalize;
  padding: 5px 0px 0px 0px;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject #SingleShortProjectDesc a {
  color: white;
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

#ShortProjects #ProjectContentWrapper #SingleShortProject #SingleShortProjectDesc a:hover {
  color: cyan;
}

#Projects {
  padding: 50px 0px;
}

#Projects #ProjectContentWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#Projects #ProjectContentWrapper #SingleProject {
  position: relative;
  overflow: hidden;
  margin: 5px auto;
  width: 95%;
}

#Projects #ProjectContentWrapper #SingleProject img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#Projects #ProjectContentWrapper #SingleProject:hover #ProjectDesc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#Projects #ProjectContentWrapper #SingleProject:hover #ProjectDesc p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#Projects #ProjectContentWrapper #SingleProject:hover #ProjectDesc a {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#Projects #ProjectContentWrapper #SingleProject #ProjectDesc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #000000e5;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

#Projects #ProjectContentWrapper #SingleProject #ProjectDesc h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-bottom: 5px;
  color: cyan;
  text-shadow: 1px 2px 20px cyan;
  text-transform: capitalize;
  text-align: center;
}

#Projects #ProjectContentWrapper #SingleProject #ProjectDesc p {
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 1s;
  transition: 1s;
  text-transform: capitalize;
}

#Projects #ProjectContentWrapper #SingleProject #ProjectDesc a {
  color: white;
  display: inline-block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: white;
}

#Projects #ProjectContentWrapper #SingleProject #ProjectDesc a:hover {
  color: cyan;
}

#ShortSkill {
  padding: 50px 0px;
}

#SkillContentWrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#SkillContentWrappper #SingleSkill {
  padding: 20px 20px;
  border: 1px solid rgba(221, 221, 221, 0.164);
  -webkit-box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.747);
          box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.747);
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  margin: 20px 10px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  margin: 20px 20px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#SkillContentWrappper #SingleSkill:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#SkillContentWrappper #SingleSkill:hover {
  -webkit-box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.459);
          box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.459);
}

#SkillContentWrappper #SingleSkill img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#Top {
  position: fixed;
  bottom: 7%;
  right: 2%;
  z-index: 7;
}

#Top a {
  color: #00ffea;
  padding: 5px;
  border: 3px solid cyan;
  display: inline-block;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Top a:hover {
  background: cyan;
  color: white;
}

#SkillsPage {
  padding: 50px 0px;
}

#SkillsPage #SkillPageContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.705);
          box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.705);
  border-radius: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 465px;
  margin: 10px 0px;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(196, 196, 196, 0.733);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-width: 0.1;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage #SkllImg {
  width: 186px;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage #SkllImg img {
  width: 100%;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage #SkillDesc {
  padding: 0px 10px;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage #SkillDesc h2 {
  background: -webkit-gradient(linear, right top, left top, from(#00e1ff), to(#006eff));
  background: linear-gradient(to left, #00e1ff, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Nanum Gothic", sans-serif;
}

#SkillsPage #SkillPageContentWrapper #SingleSkillsInPage #SkillDesc P {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

#Contact {
  padding: 60px 0px;
  border-bottom: none;
}

#Contact #ContactContentWrapper #InputFields {
  width: 60%;
  margin: 10px auto;
}

#Contact #ContactContentWrapper #InputFields:nth-child(1) input {
  color: green;
}

#Contact #ContactContentWrapper #InputFields input,
#Contact #ContactContentWrapper #InputFields textarea {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 3px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.3rem;
  -webkit-box-shadow: inset 2px 3px 5px -1px #ddd;
          box-shadow: inset 2px 3px 5px -1px #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Contact #ContactContentWrapper #InputFields input:focus,
#Contact #ContactContentWrapper #InputFields textarea:focus {
  -webkit-box-shadow: 2px 3px 10px #424242;
          box-shadow: 2px 3px 10px #424242;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Contact #ContactContentWrapper #InputFields button {
  width: 100%;
  display: block;
  padding: 5px 0px;
  outline: none;
  border: none;
  background: none;
  background-attachment: fixed;
  font-size: 1.5rem;
  color: #00e1ff;
  border: 2px solid #00e1ff;
  border-radius: 5px;
  font-family: "Yusei Magic", sans-serif;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Contact #ContactContentWrapper #InputFields button:hover {
  background: #00e1ff;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

#Contact #ContactContentWrapper #InputFields textarea {
  text-transform: capitalize;
}

#outputmessage {
  width: 100%;
  text-align: center;
  margin: 20px 5px;
  padding: 20px 0px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  display: none;
}

#outputmessage h2 {
  padding: 5px 0px;
  font-family: "Yusei Magic", sans-serif;
}

#NavButton {
  cursor: pointer !important;
}

#Filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Filter select {
  padding: 5px 20px;
  font-family: "Yusei Magic", sans-serif;
  outline: none;
  background: #dddddd;
  border-radius: 3px;
  margin: 10px 0px;
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Filter select {
  border: 2px solid white;
  width: 30%;
}

#Filter select:focus {
  border-color: cyan;
}

#Subscribe {
  padding-top: 30px;
  min-height: 65vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#00000090), to(#00000090)), url(./Components/img/Subscribe1.jpg);
  background: linear-gradient(to left, #00000090, #00000090), url(./Components/img/Subscribe1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#Subscribe #ContactContentWrapper #InputFields {
  width: 60%;
  margin: 10px auto;
  
}

#Subscribe #ContactContentWrapper #InputFields:nth-child(1) input {
  color: #00e1ff;
}

#Subscribe #ContactContentWrapper #InputFields input,
#Subscribe #ContactContentWrapper #InputFields textarea {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #ddd;
  resize: none;
  border-radius: 3px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.3rem;
  -webkit-box-shadow: inset 2px 3px 5px -1px #ddd;
          box-shadow: inset 2px 3px 5px -1px #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Subscribe #ContactContentWrapper #InputFields input:focus,
#Subscribe #ContactContentWrapper #InputFields textarea:focus {
  -webkit-box-shadow: 2px 3px 10px #424242;
          box-shadow: 2px 3px 10px #424242;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Subscribe #ContactContentWrapper #InputFields button {
  width: 100%;
  display: block;
  padding: 5px 0px;
  outline: none;
  border: none;
  background: none;
  background-attachment: fixed;
  font-size: 1.5rem;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
  font-family: "Yusei Magic", sans-serif;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Subscribe #ContactContentWrapper #InputFields button:hover {
  background: #00e1ff;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

#Subscribe #ContactContentWrapper #InputFields textarea {
  text-transform: capitalize;
  
}

#Subscribe #SubscribeContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#Subscribe #SubscribeContentWrapper #AfterText {
  font-size: 2.5rem;
  color: #00f7ff;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 2px;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Subscribe #SubscribeContentWrapper #AfterText p {
  font-size: 1.8rem;
  margin-top: 5px;
  color: white;
}

#Subscribe #SubscribeContentWrapper #AfterText button {
  padding: 10px 20px;
  font-size: 1.3rem;
  background: -webkit-gradient(linear, right top, left top, from(#00eeff), to(#0099ff));
  background: linear-gradient(to left, #00eeff, #0099ff);
  color: white;
  border: 2px solid white;
  outline: none;
  font-family: "Yusei Magic", sans-serif;
  border-radius: 10px;
  margin: 10px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Subscribe #SubscribeContentWrapper #AfterText button:hover {
  background: white;
  color: red;
}

#Subscribe #SubscribeContentWrapper #SubscribeTitle {
  font-size: 2.5rem;
  color: cyan;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 2px;
}

#Subscribe #SubscribeContentWrapper #InputField {
  width: 30vw;
  margin: 10px 0px 5px 0px;
}

#Subscribe #SubscribeContentWrapper #InputField input {
  width: 100%;
  outline: none;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid white;
  font-family: "Yusei Magic", sans-serif;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Subscribe #SubscribeContentWrapper #InputField input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: black;
  background: white;
  -webkit-box-shadow: 1px 10px 10px black;
          box-shadow: 1px 10px 10px black;
  border-color: white !important;
}

#Subscribe #SubscribeContentWrapper #InputField input:focus::-webkit-input-placeholder {
  color: black !important;
  opacity: 0.8;
}

#Subscribe #SubscribeContentWrapper #InputField input:focus:-ms-input-placeholder {
  color: black !important;
  opacity: 0.8;
}

#Subscribe #SubscribeContentWrapper #InputField input:focus::-ms-input-placeholder {
  color: black !important;
  opacity: 0.8;
}

#Subscribe #SubscribeContentWrapper #InputField input:focus::placeholder {
  color: black !important;
  opacity: 0.8;
}

#Subscribe #SubscribeContentWrapper #InputField input::-webkit-input-placeholder {
  color: white;
}

#Subscribe #SubscribeContentWrapper #InputField input:-ms-input-placeholder {
  color: white;
}

#Subscribe #SubscribeContentWrapper #InputField input::-ms-input-placeholder {
  color: white;
}

#Subscribe #SubscribeContentWrapper #InputField input::placeholder {
  color: white;
}

#Subscribe #SubscribeContentWrapper #InputField input:hover {
  border-color: cyan;
}

#Subscribe #SubscribeContentWrapper #SubsButton {
  width: 50%;
  margin: auto;
  margin: 15px auto;
}

#Subscribe #SubscribeContentWrapper #SubsButton button {
  width: 100%;
  padding: 10px 5px;
  font-size: 1.1rem;
  font-family: "Yusei Magic", sans-serif;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Subscribe #SubscribeContentWrapper #SubsButton button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1px 10px 10px black;
          box-shadow: 1px 10px 10px black;
  background: white;
  color: black;
}

#Review {
  padding: 50px 0px;
}

#Review #ReviewContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Review #ReviewContentWrapper #SingleReview {
  width: 400px;
  white-space: normal;
  text-align: center;
  margin: 15px 0px;
  padding: 20px 25px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0.1px dashed #cacaca;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#Review #ReviewContentWrapper #SingleReview:hover {
  -webkit-box-shadow: 1px 2px 10px #1f1f1f;
          box-shadow: 1px 2px 10px #1f1f1f;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#Review #ReviewContentWrapper #SingleReview #ReviewImage {
  width: 100px;
  margin: auto;
  border: 1px dashed #ddd;
  border-radius: 100%;
  padding: 5px;
}

#Review #ReviewContentWrapper #SingleReview #ReviewImage img {
  width: 100%;
  border-radius: 100%;
}

#Review #ReviewContentWrapper #SingleReview #ReviewDesc {
  width: 100%;
}

#Review #ReviewContentWrapper #SingleReview #ReviewDesc h2 {
  font-family: "Nanum Gothic", sans-serif;
  margin: 5px 0px 10px 0px;
}

#Review #ReviewContentWrapper #SingleReview #ReviewDesc h4 {
  color: #464646;
  font-size: 1.2rem;
}

#Review #ReviewContentWrapper #SingleReview #ReviewDesc p {
  font-family: "Yusei Magic", sans-serif;
}

#Review #ReviewContentWrapper #SingleReview #ReviewRank {
  width: 100px;
  margin: 10px auto;
}

#Review #ReviewContentWrapper #SingleReview #ReviewRank img {
  width: 100%;
}

#HomeMe {
  position: fixed;
  bottom: 10%;
  left: 5%;
  margin: 0px 10px;
  z-index: 7;
}

#HomeMe #HomeMenu {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, right top, left top, from(#0077ffdc), to(#01b4fbe1));
  background: linear-gradient(to left, #0077ffdc, #01b4fbe1);
  text-align: center;
  padding: 15px 50px;
  margin: 10px 0px;
  border-radius: 5px;
}

#HomeMe #HomeMenu li {
  margin: 15px 0px;
  list-style: none;
}

#HomeMe #HomeMenu li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

#HomeMe #HomeMenu li a:hover {
  color: cyan;
  text-shadow: 1px 2px 8px cyan;
}

#Blog {
  padding: 50px 0px;
}

#Blog #BlogContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Blog #BlogContentWrapper #SingleBlog {
  width: 48%;
  border-radius: 10px;
  margin: 20px 0px;
  border: 1px solid #c9c9c9;
  -webkit-box-shadow: 1px 2px 10px #3f3f3f;
          box-shadow: 1px 2px 10px #3f3f3f;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Blog #BlogContentWrapper #SingleBlog:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Blog #BlogContentWrapper #SingleBlog:hover {
  -webkit-box-shadow: 1px 2px 10px black;
          box-shadow: 1px 2px 10px black;
}

#Blog #BlogContentWrapper #SingleBlog img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0.1px solid #ddd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc {
  padding: 10px 20px;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc h3 {
  text-align: right;
  font-family: "PT Serif", serif;
  color: #7700ff;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc h2 {
  margin: 5px 0px;
  font-family: "Montserrat", sans-serif;
  color: #ff7300;
  font-size: 1.8rem;
  text-transform: capitalize;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc p {
  font-family: "Yusei Magic", sans-serif;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc a {
  font-family: "Yusei Magic", sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0px;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #7700ff;
  text-transform: capitalize;
}

#Blog #BlogContentWrapper #SingleBlog #BlogDesc a:hover {
  color: cyan;
  text-shadow: 1px 1px 9px cyan;
}

kbd {
  padding: 5px 10px;
  font-size: 0.9rem;
  background: black;
  color: white;
  border-radius: 5px;
  z-index: 10;
  display: inline-block;
  font-family: "consolas", monospace;
  margin: 20px 10px;
  text-shadow: none;
}

#Error {
  padding: 50px 0px;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#Error #ContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Error #ContentWrapper #ErrorImg {
  width: 50%;
  margin: auto;
}

#Error #ContentWrapper #ErrorImg img {
  width: 100%;
}

#Error #ContentWrapper h2 {
  font-size: 2rem;
  font-family: "Sriracha", cursive;
  color: red;
}

#Faq {
  padding: 50px 0px;
}

#Faq #FaqContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Faq #FaqContentWrapper #FaqImg {
  width: 40%;
}

#Faq #FaqContentWrapper #FaqImg img {
  width: 100%;
}

#Faq #FaqContentWrapper #FaqContent {
  width: 60%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
}

#Faq #FaqContentWrapper #FaqContent #SingleFaq {
  width: 90%;
  margin: 5px auto;
  padding: 5px 10px;
  border-left: 5px solid #0077ff;
}

#Faq #FaqContentWrapper #FaqContent #SingleFaq summary {
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, right top, left top, from(#00ffea), to(#006eff));
  background: linear-gradient(to left, #00ffea, #006eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
}

#Faq #FaqContentWrapper #FaqContent #SingleFaq details p {
  padding: 5px;
  color: #292929;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

#Loader {
  min-height: 100vh;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background: black;
  width: 100%;
  color: white;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

#Loader #LoaderImg {
  width: 50%;
  margin: auto;
}

#Loader #LoaderImg img {
  width: 100%;
}

.custom-shape-divider-bottom-1612693670 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1612693670 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 33px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1612693670 .shape-fill {
  fill: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1612693670 svg {
    width: calc(100% + 1.3px);
    height: 29px;
  }
}

@media (max-width: 767px) {
  .custom-shape-divider-bottom-1612693670 svg {
    width: calc(100% + 1.3px);
    height: 22px;
  }
}

#Slider {
  padding: 50px 0px;
}

#Slider .singleSliderItem {
  position: relative;
  width: 80%;
  margin: 10px auto;
  height: 40vh;
  overflow: hidden;
}

#Slider .singleSliderItem:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Slider .singleSliderItem img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Slider .singleSliderItem .sliderDesc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10px;
  background: linear-gradient(45deg, rgba(0, 255, 255, 0.685), rgba(255, 0, 119, 0.644));
  color: white;
}

#Slider .singleSliderItem .sliderDesc h2 {
  padding: 10px 0px;
  color: #ff009d;
  text-shadow: 1px 1px 5px black;
}
/*# sourceMappingURL=index.css.map */