@media screen and (max-width: 768px) {
  #Container {
    width: 90% !important;
  }
  * {
    cursor: default !important;
  }
  a,
  button {
    cursor: default !important;
  }
  .active {
    padding-bottom: 2px;
    border: none;
    color: rgb(0, 255, 255) !important;
  }
  .singleSliderItem {
    width: 90% !important;
  }
  header {
    background: linear-gradient(to right, #000000, #00000063),
      url(./Components/img/mobileheaderbg.jpg);
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
  }
  nav {
    ul {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 70%;
      min-height: 100vh;
      max-height: 100vh;
      padding: 85px 0px 20px 0px;
      background: linear-gradient(45deg, cyan, rgb(255, 0, 128));
      justify-content: center !important;
      transform: translate(100%);
      transition: 0.3s;
      overflow-y: scroll;
      li {
        margin: 10px 0px !important;
        &:first-child {
          display: block !important;
          width: 150px;
          margin: auto;
          img {
            width: 100%;
          }
        }
      }
    }
    #Burger {
      display: block !important;
      z-index: 10;
      div {
        width: 25px;
        height: 3px;
        background: white;
        margin: 5px 0px;
        transition: 0.3s;
      }
    }
  }
  .nav-active {
    transform: translate(0) !important;
  }
  #AboutCOntentWrapper {
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
    #AboutDesc {
      width: 95% !important;
    }
    #AboutImage {
      width: 90% !important;
      margin: auto;
      margin-bottom: 10px;
    }
  }
  #AboutTable {
    display: none !important;
  }
  #Desc {
    text-align: left !important;
    width: 100% !important;
  }
  #AboutPageImage {
    width: 90% !important;
  }
  #SingleShortService {
    width: 450px !important;
  }
  #SingleService {
    width: 450px !important;
  }
  #SectionTitle {
    p {
      width: 100% !important;
    }
  }
  #SingleSkill {
    width: 18% !important;
    padding: 10px 10px !important;
  }
  #Top {
    bottom: 0;
    right: 0;
    margin: 20px;
  }
  #SingleSkillsInPage {
    width: 500px !important;
    margin: 10px auto !important;
  }
  #InputFields {
    width: 100% !important;
    input,
    textarea,
    button {
      font-size: 1.1rem !important;
    }
  }
  #NavButton {
    cursor: default !important;
  }
  select {
    width: 45% !important;
  }
  #Subscribe {
    #InputField {
      width: 50vw !important;
    }
    #SubsButton {
      width: 150px !important;
    }
  }
  #SingleReview {
    width: 70% !important;
    margin: 15px auto !important;
  }
  #BlogDesc {
    padding: 10px !important;
    p {
      width: 100% !important;
    }
    h2 {
      font-size: 1.4rem !important;
    }
    a {
      font-size: 1rem !important;
    }
  }
  #SingleBlog {
    img {
      height: 16rem !important;
    }
    &:last-child {
      img {
        height: auto !important;
      }
    }
  }
  #ReviewContentWrapper {
    padding: 20px 0px !important;
  }
  #ProjectContentWrapper {
    grid-template-columns: 1fr !important;
    #SingleProject {
      img {
        height: auto !important;
      }
      #ProjectDesc {
        p {
          width: 100% !important;
        }
      }
    }
  }
  #SingleShortProject {
    width: 100% !important;
    img {
      height: auto !important;
    }
    #SingleShortProjectDesc {
      p {
        width: 100% !important;
      }
    }
  }
  #SingleBlog {
    width: 70% !important;
    img {
      height: auto !important;
    }
  }
  #LoaderImg {
    width: 50% !important;
    img {
      width: 100% !important;
    }
  }
  kbd {
    font-size: 1rem !important;
    margin: 5px !important;
  }
  #LoaderContent {
    h2 {
      font-size: 1.2rem !important;
      margin: 10px 0px !important;
    }
  }
  #ErrorImg {
    width: 90% !important;
  }
  #FaqContentWrapper {
    flex-direction: column;
    align-items: center;
    #FaqImg {
      width: 90% !important;
      margin: auto;
    }
    #FaqContent {
      width: 100% !important;
      #SingleFaq {
        width: 100% !important;
      }
    }
  }
  #AfterText {
    font-size: 1.7rem !important;
    p {
      font-size: 1.2rem !important;
    }
    button {
      font-size: 1.1rem !important;
    }
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 2.5rem !important;
  }
  #SingleSkillsInPage {
    width: 100% !important;
  }
  select {
    width: 60% !important;
  }
}
@media screen and (max-width: 748px) {
  #ProjectContentWrapper {
    flex-direction: column !important;
    #SingleProject {
      width: 100% !important;
      h2 {
        font-size: 1.8rem !important;
      }
      p {
        font-size: 1.2rem !important;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  #ProjectContentWrapper {
    flex-direction: column !important;
    #SingleProject {
      width: 100% !important;
      h2 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 1.1rem !important;
        width: 100% !important;
      }
    }
  }
  select {
    width: 100% !important;
  }
}
@media screen and (max-width: 296px) {
  #SingleSkill {
    width: 30% !important;
  }
}
@media screen and (max-width: 384px) {
  #SingleSkillsInPage {
    flex-direction: column !important;
  }
  #SkllImg {
    margin-bottom: 10px !important;
  }
  #SkillDesc {
    p {
      width: 100% !important;
    }
  }
  select {
    width: 100% !important;
  }
  #SingleProject {
    img {
      height: auto !important;
    }
    #ProjectDesc {
      p {
        width: 100% !important;
        font-size: 1rem !important;
      }
      h2 {
        font-size: 1.5rem !important;
      }
    }
  }
  #SingleReview {
    width: 95% !important;
  }
  #SubscribeTitle {
    font-size: 1.7rem !important;
  }
  #InputField {
    input {
      font-size: 1rem !important;
    }
  }
  nav {
    ul {
      li {
        &:first-child {
          width: 80px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 598px) {
  #SingleReview {
    width: 100% !important;
    padding: 30px 7px !important;
    margin: 15px auto !important;
  }
  #HomeMe {
    bottom: 0% !important;
    margin: 20px 0px;
    #HomeMenu {
      padding: 5px 50px !important;
      margin-top: 5px !important;
    }
  }
  #Subscribe {
    #InputField {
      width: 80vw !important;
    }
    #SubsButton {
      width: 150px !important;
    }
  }
  #SingleShortProjectDesc {
    p {
      width: 100% !important;
      font-size: 1rem !important;
    }
    h2 {
      font-size: 1.5rem !important;
    }
  }
  #SingleBlog {
    width: 95% !important;
    img {
      height: auto !important;
    }
  }
  #AboutDesc {
    width: 100% !important;
    h2 {
      font-size: 1.4rem !important;
    }
  }
  #HeaderDesc {
    h1 {
      font-size: 2rem !important;
    }
    p {
      font-size: 1.5rem !important;
    }
    h3 {
      font-size: 1rem !important;
    }
  }
}
