@media screen and (max-width: 1024px) {
  #Container {
    width: 750px !important;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    padding: 5px 10px;
  }
  #NavLinks {
    margin: 0px 40px;
    li {
      margin: 0px 9px !important;
    }
  }
  #HeaderDesc {
    text-align: center;
    p {
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
  }
  #AboutCOntentWrapper {
    #AboutDesc {
      width: 450px !important;
    }
    #AboutImage {
      width: 300px !important;
    }
  }
  #Desc {
    width: 75% !important;
    text-align: justify;
  }
  #AboutTable {
    width: 20% !important;
  }
  #SingleSkillsInPage {
    width: 365px !important;
  }
  #InputFields {
    width: 85% !important;
  }
  select {
    width: 30% !important;
  }
  #Subscribe {
    #InputField {
      width: 50vw !important;
    }
    #SubsButton {
      width: 40% !important;
    }
  }
  #SingleBlog {
    width: 49% !important;
    img {
      height: auto !important;
    }
  }
  #SingleShortProjectDesc {
    h2 {
      font-size: 1.4rem !important;
    }
    p {
      font-size: 1rem !important;
      width: 100% !important;
    }
  }
  #ProjectDesc {
    h2 {
      font-size: 1.4rem !important;
    }
    p {
      font-size: 1rem !important;
      width: 100% !important;
    }
  }
  #FaqImg {
    width: 40% !important;
    margin: auto;
  }
  #FaqContent {
    width: 60% !important;
    #SingleFaq {
      width: 100% !important;
    }
  }
  #SingleReview {
    width: 45% !important;
  }
}
